.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0e0e12;
  font-family: sans-serif;
  user-select: none;
  color: #fff;
}

.gradientBorderWrapper {
  background: var(--border-gradient);
  padding: 2px; /* thickness of the gradient border */
  border-radius: 20px;
  display: inline-block;
}

.track {
  overflow: hidden;
  border-radius: 20px;
  background: var(--background-gradient);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 430px;
  height: 70px;
  padding: 0 25px;
  color: var(--active-text-color, #fff);
}

.labelGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--active-text-color);
}

.labelText {
  opacity: 0.9;
}

.centerGroup {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.orb {
  position: relative;
  cursor: grab;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: flex;
}

.orb:active {
  cursor: grabbing;
}

.orbImage {
  pointer-events: none;
  position: relative !important;
  height: 105px !important;
  width: 130px !important;
  object-fit: 'cover';
  margin-bottom: 5px;
}

.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--active-text-color);
}

.arrowWrapperLeft {
  margin-right: -25px;
}

.arrowWrapperRight {
  margin-left: -25px;
}

.glow {
  position: absolute;
  top: 10;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 2s infinite;
  --glow-color: #fc9d33;
  --glow-rgba: rgba(252, 157, 51, 0.5);
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 15px 5px var(--glow-color), 0 0 25px 10px var(--glow-rgba);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 25px 10px var(--glow-color), 0 0 40px 15px var(--glow-rgba);
  }
}

@media screen and (max-width: 480px) {
  .labelGroup {
    font-size: 0.85rem;
  }

  .orbImage {
    height: 105px !important;
    margin-bottom: 3px !important;
  }

  .arrowWrapper img,
  .arrowWrapper .lottie {
    width: 28px !important;
    height: 24px !important;
  }
}